* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
}

div.logo {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

h1,
h2,
h3 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h2 {
    margin-top: 5px;
    text-align: justify;
    padding: 10px;

}

.description {
    position: absolute;
    display: block;
    transform: translateX(-50%);
    max-width: 40vw;
    margin-top: 50vh;
    left: 50%;
    letter-spacing: 2px;
    line-height: 20px;

}

abbr {
    cursor: help;
}